@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    @apply bg-stone-200;
  } */
  body {
    @apply bg-stone-200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 645px) {
  div {
    scrollbar-width: none;
  }
  div::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (min-width: 645px) {
  div {
    scrollbar-color: #f8fafc #475569;
    scrollbar-width: thin;
  }

  div::-webkit-scrollbar {
    background-color: transparent;
  }
  div::-webkit-scrollbar:horizontal {
    background-color: #cbd5e1;
    height: 9px;
    border-radius: 4px;
  }
  div::-webkit-scrollbar-thumb:horizontal {
    background-color: #475569;
    border-radius: 4px;
  }
}
